{{!-- <div id="fh5co-product"></div> --}}
<div id="page">
    <div class="container">
        <h3>Your Cart</h3>
        <br>
        <br>
        <div class="row">
            {{#each orderProduct}}
                <div class=" col-md-offset-1 animate-box">
                        <div class="row form-group">
                            <div class="col-md-2 col-sm-4">
                                {{!-- <div class="col-md-2 col-sm-4">
                                    <img  style="width:50px; height:50px" src="{{this.productPicture}}" alt="{{this.productName}}" />
                                </div> --}}
                                <h3>
                                    <a href="/single-product/{{this._id}}">{{this.productName}}</a>
                                </h3>
                            </div>
                            <div class="col-md-2 col-sm-4">
                                <span class="price">${{this.productPrice}}</span>
                            </div>
                            <div class="col-md-2 col-sm-4">
                                <form action="/editCart" method="POST" id="form-container">
                                    <input id="#" class="form-control" type="number" name="#" placeholder="Quantity">
                                </form>
                            </div>
                            <div class="col-md-2 col-sm-4">
                                <form action="/removeFromCart/{{this._id}}" method="POST" id="form-container">
                                    <button class="btn btn-primary btn-outline btn-lg">Delete</button>
                                </form>
                            </div>
                        </div>
                    </div>
            {{/each}}
            </div>
        </div>
    </div>
</div>